<div class="educations">
  <h2>educations</h2>
     <dl>
  <dt>University of Illinois at Urbana-Champaign (2020 - present)</dt>
    <dd>Master of Science in Computer Science</dd>
    <dd>Research interest: text mining, graph mining</dd>
    <dd>Advisor: Jiawei Han</dd>
  <dt>Hong Kong University of Science and Technology (2016 - 2020)</dt>
    <dd>B. Sc. in Computer Science and double major in Mathematics</dd>
    <dd>Final year project: Analysis and Improvements on Graph Neural Networks</dd>
    <dd>Advisor: Raymond chi-wing Wong</dd>
  <dt>University of Illinois at Urbana-Champaign (2019)</dt>
    <dd>Exchange student in the Department of Computer Science</dd>
  <dt>Stanford University (2018)</dt>
    <dd>Exchange student in International Honor Program</dd>
</dl>
</div><br>

<div class="work experience">
  <h2>work experience</h2>
     <dl>
  <dt>Alibaba DAMO Academy (2020.07 - 2021.01)</dt>
    <dd>Research Intern, Data Analytics and Intelligence Lab (DAIL)</dd>
    <dd>Work on few-shot friend recommendation under multiple scenarios in Taobao</dd>
    <dd>Advisor: Yaliang Li, Bolin Ding</dd>
</dl>
</div>