<div class="educations">
  <h2>Educations</h2>
  <dt>Carnegie Mellon University <dc>2022 - Present</dc> </dt>
    <dd>Ph.D. in Language and Information Technology</dd>
    <dd>Research focus: language models, code generation</dd>
    <dd>Advisor: Carolyn Rose</dd>
  <dt>University of Illinois at Urbana-Champaign <dc>2020 - 2022</dc> </dt>
    <dd>Master of Science in Computer Science (GPA: 4.0/4.0)</dd>
    <dd>Research focus: information extraction, graph-based machine learning</dd>
    <dd>Advisor: Jiawei Han</dd>
  <dt>Hong Kong University of Science and Technology <dc>2016 - 2020</dc> </dt>
    <dd>B. Sc. in Computer Science and double major in Mathematics (GPA: 3.9/4.3)</dd>
    <dd>Research focus: text mining, graph-based machine learning</dd>
    <dd>Advisor: Raymond chi-wing Wong</dd>
  <dt>University of Illinois at Urbana-Champaign <dc>2019</dc> </dt>
    <dd>Exchange student in the Department of Computer Science</dd>
  <dt>Stanford University <dc>2018</dc> </dt>
    <dd>Exchange student in International Honor Program</dd>
</dl>
</div><br>

<div class="work experience">
  <h2>Work experience</h2>
     <dl>
  <dt>Microsoft Research Redmond <dc>2022.05 - 2022.08<dc></dt>
    <dd>Research Intern, Productivity and Intelligence group</dd>
    <dd>Work on pre-trained language models for better text sequence embeddings</dd>
    <dd>Advisor: Chenyan Xiong, Payal Bajaj</dd>
  <dt>Alibaba DAMO Academy <dc>2020.07 - 2021.01<dc></dt>
    <dd>Research Intern, Data Analytics and Intelligence Lab</dd>
    <dd>Work on few-shot interaction recommendation under multiple scenarios in Taobao</dd>
    <dd>Advisor: Yaliang Li, Bolin Ding</dd>
</dl>
</div><br>

<div class="honors and awards">
  <h2>Honors and Awards</h2>
    <ds>Siebel Scholar, class of 2022 <dm>2021-2022</dm> </ds><br>
    <ds>Hong Kong University of Science and Technology Academic Achievement Medal (top 1%) <dm>2020</dm> </ds><br>
    <ds>Hong Kong Special Administrative Region Government Scholarship Fund - Reaching Out Award <dm>2018</dm> </ds><br>
    <ds>Hong Kong University of Science and Technology's Scholarship for Continuing Undergraduate Students <dm>2017-2019</dm> </ds><br>
    <ds>Dean’s List, Hong Kong University of Science and Technology <dm>Three times, 2017-2019</dm> </ds><br>
    <ds>Silver prize of China Girls Math Olympiad (Highly competitive, only four quotas for participation per province) <dm>2015</dm> </ds><br>
    <ds>Second prize of National Olympiad in Mathematics, Guangdong Province, China <dm>2015</dm> </ds><br>
</dl>
</div><br>

<div class="additional information">
  <h2>Additional Information</h2>
    <ds>Conference Reviews: WSDM 2021, ARR 2021 (Nov), COLING 2022, EMNLP 2022, AACL 2022 </ds><br>
    <ds>Teaching Assistant: CS412: Introduction to Data Mining <dm>UIUC, Spring 2022</dm> </ds><br>
    <ds>Teaching Assistant: COMP 2012: Object-Oriented Programming and Data Structures <dm>HKUST, Fall 2018</dm> </ds><br>
    <ds>Teaching Assistant: COMP 1022P: Introduction to Java Programming <dm>HKUST, Fall 2018</dm> </ds><br>
</dl>
</div>