<div class="educations">
  <h2>educations</h2>
     <dl>
  <dt>University of Illinois at Urbana-Champaign <dc>2020 - present</dc> </dt>
    <dd>Master of Science in Computer Science</dd>
    <dd>Research interest: text mining, graph mining</dd>
    <dd>Advisor: Jiawei Han</dd>
  <dt>Hong Kong University of Science and Technology <dc>2016 - 2020</dc> </dt>
    <dd>B. Sc. in Computer Science and double major in Mathematics</dd>
    <dd>Final year project: Analysis and Improvements on Graph Neural Networks</dd>
    <dd>Advisor: Raymond chi-wing Wong</dd>
  <dt>University of Illinois at Urbana-Champaign <dc>2019</dc> </dt>
    <dd>Exchange student in the Department of Computer Science</dd>
  <dt>Stanford University <dc>2018</dc> </dt>
    <dd>Exchange student in International Honor Program</dd>
</dl>
</div><br>

<div class="work experience">
  <h2>work experience</h2>
     <dl>
  <dt>Alibaba DAMO Academy <dc>2020.07 - 2021.01<dc></dt>
    <dd>Research Intern, Data Analytics and Intelligence Lab (DAIL)</dd>
    <dd>Work on few-shot friend recommendation under multiple scenarios in Taobao</dd>
    <dd>Advisor: Yaliang Li, Bolin Ding</dd>
</dl>
</div><br>

<div class="honors and awards">
  <h2>honors and awards</h2>
    <ds>Siebel Scholar, class of 2022 <dm>2021-2022</dm> </ds><br>
    <ds>Hong Kong University of Science and Technology Academic Achievement Medal (top 1%) <dm>2020</dm> </ds><br>
    <ds>Hong Kong Special Administrative Region Government Scholarship Fund - Reaching Out Award <dm>2018</dm> </ds><br>
    <ds>Hong Kong University of Science and Technology's Scholarship for Continuing Undergraduate Students <dm>2017-2019</dm> </ds><br>
    <ds>Dean’s List, Hong Kong University of Science and Technology <dm>Three times, 2017-2019</dm> </ds><br>
    <ds>Silver prize of China Girls Math Olympiad (Highly competitive, only four quotas for participation per province) <dm>2015</dm> </ds><br>
    <ds>Second prize of National Olympiad in Mathematics, Guangdong Province, China <dm>2015</dm> </ds><br>
</dl>
</div>